<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    Alquiautos es una compañía que se encarga de alquilar autos de alta gama, también brindamos servicio de grúa y te llevamos un nuevo auto hasta que repares el tuyo
  </p>
  {{#link-to 'contact' class="button"}}
    Contrata Ahora!
  {{/link-to}}
</div>

{{outlet}}