<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Bienvenido!</h2>
  <p>
    Esperamos que encuentres lo que estas buscando.
    <br>Revisa nuestra lista de lujosos vehículos.
  </p>
  {{#link-to 'about' class="button"}}
    Sobre Nosotros
  {{/link-to}}

  {{#link-to 'contact' class="button"}}
    Contrata Ahora!
  {{/link-to}}
</div>
{{#each model as |carUnit|}}
  {{cars-listing car=carUnit}}
{{/each}}
{{outlet}}