<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contáctanos</h2>
  <p>Esta agencia te arrendará un buen auto<br>Llámanos o escríbenos y realiza la preguntas que desees.</p>
  <p>
    AlquiAutos
    <address>
      Universidad de Antioquia<br>
      Medellín
    </address>
    <a href="tel:57.3000079944">(57) 300-0079944</a><br>
    <a href="mailto:autos@alki.com">autos@alki.com</a>
  </p>
  {{#link-to 'about' class="button"}}
    Sobre Nosotros
  {{/link-to}}
</div>
{{outlet}}